/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
body{  
    background-color:  #D4A76A;
}
.newBox{
    height:100px;
    width: 100%;
    background-color: #FFDBAA;
    text-align: left;
}